@font-face {
    font-family: "IzhitsaCRegular";
    src: url("../fonts/IzhitsaCRegular/IzhitsaCRegular.eot");
    src: url("../fonts/IzhitsaCRegular/IzhitsaCRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/IzhitsaCRegular/IzhitsaCRegular.woff") format("woff"), url("../fonts/IzhitsaCRegular/IzhitsaCRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* Header styles*/

header,
main h2 {
    font-family: "IzhitsaCRegular";
}

header nav {
    background: #a91521;
}

header form {
    text-align: center;
}

.company-name {
    background-image: url('../img/bg-header.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.company-name nav > a > img {
    position: absolute;
    top: 24px;
    left: 16.2%;
}

.company-name h1 {
    text-align: center;
    margin: 45px 0;
    font-size: 32px;
}

.contacts,
.contacts-page {
    position: absolute;
    top: 45px;
    margin-left: 71%;
    z-index: 10;
    color: #000;
    background: url(../img/bg-contacts-header.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 2vw 1.7vw;
    line-height: 2;
}

.contacts-page {
    background: transparent;
    position: relative;
    margin-left: auto;
    top: auto;
}

.contacts a,
.contacts-page a,
.contacts a:hover,
.contacts-page a:hover {
    color: #000;
}

.contacts i,
.contacts-page i {
    color: #a91521;
    margin-right: 5px;
}

.contacts a:hover,
.contacts-page a:hover {
    text-decoration: underline;
}


/* add .nav-justified, see: https://github.com/twbs/bootstrap/issues/18653 */

.nav-justified {
    padding-right: 0 !important;
    width: 45.5%;
    margin-left: 27%;
}

.nav-justified .nav-item {
    float: none;
}

.nav-justified .nav-link {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

header .nav-justified .nav-link {
    padding: 20px 0;
    color: #fff;
    font-size: .93vw;
}

.nav-justified .nav-link:hover,
.nav-justified .nav-link-active {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .nav-justified .nav-item {
        display: table-cell;
        width: 1%;
    }
    .nav-justified .nav-link {
        margin-bottom: 0;
    }
}

.navbar-toggler {
    cursor: pointer;
    border: 1px solid #fff !important;
    margin: 20px;
}

.navbar-toggler i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

header .carousel-inner>.carousel-item {
    height: 47vw;
}

.carousel-inner>.carousel-item>a>img,
.carousel-inner>.carousel-item>img {
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 46%;
    left: 0px;
    background-image: url('../img/slider-arrow-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: .7s;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    transition: .7s;
    background-image: url('../img/slider-arrow-left-hover.png');
}

.carousel-control-next {
    left: auto;
    right: 0px;
    transform: rotate(180deg);
}

.carousel-item .carousel-caption {
    background: rgba(232, 232, 232, .8);
    border-radius: 5px;
    color: #e11c16;
    font-size: 1.5vw;
    position: absolute;
    top: 42.4%;
    left: 24%;
    bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 51%;
    padding: 37px 0;
}

.carousel-indicators {
    bottom: -35px !important;
}

.carousel-indicators li {
    width: 25px !important;
    height: 25px !important;
    background-color: #dd2904 !important;
    border: 1px solid #dd2904 !important;
    border-radius: 15px !important;
    margin: auto !important;
}

.carousel-indicators .active {
    background-color: #a91521 !important;
    margin: auto !important;
}


/*Index styles*/

main h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 6px;
    font-size: 27px;
}

button.main-button {
    color: #fff;
    padding: 5px 10px;
    background: #a91521;
    border: 1px solid #a91521;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

input.ffFontAwesome {
    font-family: 'FontAwesome';
}

button.main-button:hover {
    color: #000;
    background: #fcf247;
    border: 1px solid #fcf247;
}


/*Main index.html styles*/

.about-us div.first-letter {
    line-height: 1.6;
    margin-top: 25px;
}

.about-us div.first-letter > p,
main p {
    margin-bottom: 5px !important;
}

.about-us div.first-letter::first-letter {
    font-family: "IzhitsaCRegular";
    font-size: 30px;
    color: #a91521;
    line-height: .5;
}

.about-us div.first-letter:after,
.reviews .user:before {
    content: url("../img/divider.png");
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}

.about-us form,
.rooms-and-prices form {
    margin-top: 50px;
    text-align: center;
}

.about-us form input,
.rooms-and-prices form input {
    width: 29%;
    border: 1px solid #787171;
    padding: 5px;
}

.proposal,
.rooms-and-prices,
.room-page,
main.hoh-backgr {
    background-image: url('../img/bg-hohloma.png');
    background-size: cover;
    margin-bottom: -10px;
}

main.hoh-backgr > section > div > section {
    background-image: none;
}
/* slider height */
.hoh-backgr .proposal .carousel-inner>.carousel-item {
    height: 37vw;
    overflow: hidden;
}

.proposal a,
.proposal a:hover {
    color: #000;
    white-space: nowrap;
}

.proposal a:hover {
    text-decoration: underline;
}

.proposal h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}

.proposal .slider-text {
    padding-top: 15px;
    line-height: 1.44;
}

.proposal .row {
    margin-top: 10px;
}

.proposal .carousel-control-next,
.proposal .carousel-control-prev {
    position: absolute;
    top: 38%;
    left: -20px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    background-image: none;
    transition: 1s;
    width: inherit;
    height: initial;
    transform: none;
}

.proposal .carousel-control-next:hover i,
.proposal .carousel-control-prev:hover i {
    color: #f6cf40;
    transition: 1s;
}

.proposal .carousel-control-next {
    left: auto;
    right: -20px;
}

.proposal .carousel-inner,
.room {
    border-image: url(../img/main-slider-border.png);
    border-style: solid;
    border-width: 30px;
    -moz-border-image: url(../img/border-test.png) 30 round;
    -webkit-border-image: url(../img/border-test.png) 30 round;
    -o-border-image: url(../img/border-test.png) 30 round;
    border-image: url(../img/border-test.png) 30 round;
}

@media (min-width: 768px) {
	/* slider height */
	.proposal .carousel-inner {
		height: 19vw;
	}
}

.FAQ h2 {
    margin-top: 55px;
}

.FAQ h4 {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
}

.FAQ h4:after {
    content: url("../img/question-mark-rhoumb.png");
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}

.FAQ button {
    margin-top: 33px;
}

.answer,
.question {
    padding: 5px;
}

.answer,
.question,
.news-block {
    border-image: url(../img/question-border.png);
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(../img/question-border.png) 20 round;
    -webkit-border-image: url(../img/question-border.png) 20 round;
    -o-border-image: url(../img/question-border.png) 20 round;
    border-image: url(../img/question-border.png) 20 round;
}

.FAQ img:first-of-type {
    position: absolute;
    left: 18%;
}

.FAQ img:nth-of-type(2) {
    position: absolute;
    right: 18%;
}

.photo-house .carousel-control-next img,
.photo-house .carousel-control-prev img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 44%;
}

.photo-house .carousel-control-next img {
    left: auto;
    right: 20px;
    transform: rotate(180deg);
}

.news,
.room-services {
    background-image: url('../img/bg-hohloma-2.png');
    background-size: cover;
}

.news h2 {
    padding-bottom: 25px;
}

.news h2:last-of-type {
    padding-top: 55px;
}

.news h5 {
    font-weight: bold;
    padding: 10px 0;
}

.news .news-block {
    margin-bottom: 28px;
}

.reviews {
    background-image: url('../img/bg-comment.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    line-height: 1.6;
}

.reviews .user {
    font-family: "IzhitsaCRegular";
    text-align: center;
    font-size: 20px;
    margin-bottom: 17px;
    padding-top: 15px;
}

.reviews div.circle-avatar {
    max-width: 100%;
    width: 37%;
    padding-top: 37%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}

.call-back form {
    margin-top: -10px;
}

.call-back form img {
    width: 18%;
    margin-right: 15px;
}

.call-back form input {
    width: 14%;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #787171;
}

.map img {
    position: relative;
    top: 20px;
    max-width: 100%;
    z-index: 100;
}


/* Footer styles */

footer {
    position: relative;
}

footer .nav-justified {
    width: 100%;
    margin-left: 0;
    margin: 10px 0;
}

footer nav .nav-item {
    vertical-align: top;
    border-right: 1px solid #a91521 !important;
}

footer nav .nav-item:last-of-type {
    border-right: none !important;
}

footer nav .nav-link {
    color: #a91521;
    font-family: "IzhitsaCRegular";
}

footer #bird {
    position: absolute;
    top: -30px;
    width: 13%;
}

.footer-info {
    background: #a91521;
    color: #fff;
    padding: 70px 0;
}

.footer-info h3 {
    font-family: "IzhitsaCRegular";
    font-size: 22px;
}

.footer-info a,
.footer-info a:hover {
    color: #fff;
}

.footer-info i {
    margin: 10px 0;
    padding-right: 15px;
}

footer form {
    margin-top: 15%;
}

footer form input {
    width: 100%;
    color: #d1d1d1;
    border: 3px solid #d1d1d1;
    margin-bottom: 5px;
    padding: 3px 5px;
    background: transparent;
}

footer form button {
    padding 5px;
    width: 100%;
    color: #000 !important;
    background: #fff !important;
    border: 1px solid #fff !important;
    margin-top: 10px;
}

footer form button:hover {
    color: #fff!important;
    background: transparent!important;
    transition: all 0.3s ease 0s;
}

footer a > img {
    max-width: 100%;
}


/* Rooms and prices styles*/

main .rooms-and-prices h2 {
    padding-top: 45px;
    padding-bottom: 20px;
}

.rooms-and-prices form input {
    width: 22.1%;
    margin-right: 25px;
}

.rooms-and-prices form {
    margin-top: 15px;
    margin-bottom: 60px;
}

.room {
    padding: 0 !important;
    margin-bottom: 15px;
    border-width: 20px;
}

.room-name {
    position: absolute;
    bottom: 15px;
    height: 40px;
    background: #eaedf2;
    margin: 0 10px;
    width: 94%;
    text-align: center;
    line-height: 1;
    text-align: left;
    border-radius: 5px;
}

.room-name div:first-of-type {
    width: 65%;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
}

.room-name .price {
    width: 35%;
    float: left;
    color: #a91521;
    font-size: 12px;
}

.room-name .price span {
    font-size: 25px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #fff;
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.7s 0.4s ease-in-out;
    transition: all 0.5s 0.7s ease-in-out;
}

.hovereffect img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.overlay .room-name {
    position: initial;
    background: #fff;
    margin: 10px 0;
}

.hovereffect .center img {
    margin: 10px auto;
    width: auto;
}

.hovereffect .center {
    margin: 10px 0;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.hovereffect:hover .center {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


/* Room.html*/

main .room-page h2 {
    padding-top: 42px;
    padding-bottom: 30px;
}

.room-page .carousel-control-next img,
.room-page .carousel-control-prev img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 41%;
    right: 5%;
}

.room-page .carousel-control-prev img {
    right: auto;
    left: 5%;
}

.room-page .price-room {
    color: #a91521;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.room-page form h2 {
    padding: 0;
}

.room-page input,
.room-page button {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.room-description p {
    line-height: 1.7;
    text-indent: 60px;
    margin-bottom: 0;
}

.room-description h2 {
    padding-bottom: 7px !important;
}

.room-services h3 {
    font-size: 1rem;
    margin-bottom: 15px;
}

.room-services ul {
    padding-left: 0;
    list-style: none;
}

.room-services ul li {
    display: flex;
    line-height: 2.2;
}

.room-services ul li > img {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    margin-right: 13px;
    transition: 0.9s;
}

.room-services ul li:hover > img {
    transition: 0.9s;
    transform: rotateY(180deg);
}

@media (max-width: 992px) {
    .nav-justified {
        width: 70%;
        margin-left: 15%;
    }
    .company-name nav > a > img {
        left: 4%;
    }
    header .nav-justified .nav-link {
        font-size: 12px;
    }
    .FAQ img:first-of-type {
        left: 10%;
        width: 50px;
    }
    .FAQ img:nth-of-type(2) {
        right: 10%;
        width: 50px;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top-small {
        position: fixed;
        right: 0;
        left: 0;
        top: 10px;
        z-index: 1030;
    }
    .company-name {
        background-size: contain;
    }
    .company-name nav > a > img {
        top: -10px;
        left: auto;
        right: 0px;
        max-height: 125%;
    }
    .company-name h1 {
        margin-top: 130px;
        padding-bottom: 100px;
        margin-bottom: 0;
    }
    .carousel-control-next img,
    .carousel-control-prev img {
        width: 50px;
        height: 50px;
        top: 40%;
    }
    .call-back form input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    .call-back form button {
        display: block;
        margin: 0 auto;
    }
    footer nav .nav-item {
        border-right: none !important;
    }
    footer form {
        position: relative;
    }
    .rooms-and-prices form input {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .about-us form input {
        width: 100%;
        margin-bottom: 15px;
    }
    .company-name h1 {
        padding-bottom: 40px;
    }
    button.main-button {
        width: 100%;
    }
    .proposal h3 {
        margin: 25px 0;
    }
}

#slider-with-rooms {
    margin-bottom: 100px;
}

#slider-with-rooms .room-name {
    bottom: 40px;
    margin: 0 45px;
    width: 69%;
    color: #000;
}
#slider-with-rooms .carousel-control-next,
#slider-with-rooms .carousel-control-prev {
    top: 36%;
}

#slider-with-rooms .carousel-item a > img {
    border-image: url(../img/main-slider-border.png);
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(../img/border-test.png) 30 round;
    -webkit-border-image: url(../img/border-test.png) 30 round;
    -o-border-image: url(../img/border-test.png) 30 round;
    border-image: url(../img/border-test.png) 30 round;
}


/* single slide at once */

#slider-with-rooms .carousel-inner .active.left {
    left: -33% !important;
}

#slider-with-rooms .carousel-inner .next {
    left: 33% !important;
}

#slider-with-rooms .carousel-inner .prev {
    left: -33% !important;
}

#slider-with-rooms .carousel-item.active.left > div:not(:first-child) {
    display: none !important;
}

#slider-with-rooms .carousel-item.active.right > div:not(:first-child) {
    display: none !important;
}
